<head>

  %include templates/parts/head.html

</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBar.html

  <div class="container">

    
      
    <!-- Header -->
    <div class="row">
      <div class="col-sm-12">
        <!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
        </div>-->
        <div id="pageHeader">
          <h1>
            Lecture 25: Life after CS106A
          </h1>
          <p class="subtleHeading">
            May 30th, 2018
          </p>

        </div>
        
        <hr>
      </div>
    </div>

  

    <div class="row">
      <div class="col-sm-12">
        <h3>Class Announcements</h3>
        <p>
          <div class="well">
                <b>Coming soon</b> 
          </div>
        </p>
        <br/>
        <h3>Learning Goals </h3>
        <p>
          <div class="well">
          Think about life past CS106A!
        </div>
        </p>
        <br/>
        <h3>Lecture Materials </h3>
        <p>
          <div class="row">
            <div class="col-sm-2"><a href="{{pathToRoot}}lectures/25-LifeAfterCS106A/25-LifeAfterCS106A.pptx"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Slides Ppt</span></a>
            </div>
            <div class="col-sm-2"><a href="{{pathToRoot}}lectures/25-LifeAfterCS106A/25-LifeAfterCS106A.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
            </div>
            <div class="col-sm-2">
              <a href="{{pathToRoot}}lectures/25-LifeAfterCS106A/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
          Lecture Code</a>
            </div>
            <div class="col-sm-2">
              <a href="{{pathToRoot}}lectures/25-LifeAfterCS106A/Lecture25.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
          Eclipse Project</a>
            </div>
            
            
          </div>
          <br/>
          
        </p>
      </div>
    </div>


    


  

    %include templates/parts/footer.html

  </div>

</body>
