<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Lecture 3: Decomposition
					</h1>
					<p class="subtleHeading">
						April 6th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
						<ol style="padding-left:10px">
							<li>
								<b>Section sign ups</b>: The section signup form will open tomorrow at 5pm. Sign up before Sunday at 5pm.
							</li>
							<li>
								<b>Early assignment start</b>: Even though assignment 1 isn't due until Friday, get an early start. It is hard.
							</li>
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					The goal of today's class is for you to feel comfortable with the programming strategy called "decomposition" whereby you take a large problem and break it down into smaller pieces (which become their own methods). When approaching programming challenges experts often alternate between setting milestones and achieving those milestones via decomposition. 
				</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/3-Decomposition/3-Decomposition.pptx"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Slides Ppt</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/3-Decomposition/3-Decomposition.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/3-Decomposition/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/3-Decomposition/Lecture3.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
					<br/>
					<h3>Extra Practice </h3>
					<p>
						<div class="well">
						If you would like some extra practice, try out these problems:<br/><br/>
						<ul>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/HurdleJumper">HurdleJumper</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Roomba">Roomba</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/BeeperCollector">BeeperCollector</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Sweeper">Sweeper</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/MazeRunner">MazeRunner</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/karel/DoubleBeepers">DoubleBeepers</a></li>
                        </ul>
					</div>
					</p>
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
