<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Lecture 2: Control Flow
					</h1>
					<p class="subtleHeading">
						April 4th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
						<ol style="padding-left:10px">
							<li>
								<b>Assignment 1 is out!</b> Read the style guide, review the late day policy, see the handout on course communication and the honor code. All those links can be found on the assignment page
							</li>
							<li>
								<b>Eclipse installation session</b>: tonight (Wednesday 4/4) at 7pm in the LaIR (Tressider first floor).
							</li>
							<li>
								<b>Section sign ups</b>: The section signup form will open tomorrow at 5pm. Sign up before Sunday at 5pm.
							</li>
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					By the end of class you should know how to program and trace core programming control flow: for loops, while loops, and if statements. Tracing a program is when you can think through what it does, line by line.
				</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/2-ControlFlow/2-ControlFlow.pptx"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Slides Ppt</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/2-ControlFlow/2-ControlFlow.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/2-ControlFlow/MeetKarel"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/2-ControlFlow/MeetKarel.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
					<br/>
					<h3>Extra Practice </h3>
					<p>
						<div class="well">
						If you would like some extra practice, try out these problems:<br/><br/>
						<ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/MeetKarel">MeetKarel</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/ThreeBeepers">ThreeBeepers</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/karelLoop1">KarelLoop1</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Sweeper">Sweeper</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Racetrack">Racetrack</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/RoadRepairKarel">RoadRepair</a></li>
            </ul>
					</div>
					</p>
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
