<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Lecture 18: Collections
					</h1>
					<p class="subtleHeading">
						May 14th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
						<ol style="padding-left:10px">
							<li>
								<b>Assignment 5 (ImageShop) is out</b>. See <a href="{{pathToRoot}}assn/imageshop.html">the Assignment 5 page</a> for details.
							</li>
							<li>
								<b>Graphics Contest</b> details are now available <a href="{{pathToRoot}}handouts/11 - Graphics Contest.pdf">here</a>. This contest is optional!
							</li>
						</ol>	
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					The goal of today's class is for you to be able to write programs that can use any of the data structures we've learned together to solve more complex problems.
				</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/18-Collections/18-Collections.key"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Keynote</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/18-Collections/18-Collections.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/18-Collections/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/18-Collections/Lecture18.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
