<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Lecture 19: Collections
					</h1>
					<p class="subtleHeading">
						May 16th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
						<ol style="padding-left:10px">
							<li>
								<b><a href="{{pathToRoot}}assn/imageshop.html"> Assignment 5 (ImageShop) </a> is out</b>. We've made the assignment slightly smaller because you only have a week to do it (you're no longer required to implement the <code> translate() </code> method), but make sure to get started early! To help you get started, we'll be holding YEAH-esque hours today (the 16th) in the LaIR at 8 pm. You'll have a chance to begin the assignment guided by Brahm and Julia and to ask any clarifying questions you might have. 
							</li>
							<li>
								<b>Graphics Contest</b> details are now available <a href="{{pathToRoot}}handouts/11 - Graphics Contest.pdf">here</a>. This contest is absolutely optional - if you choose not to do it, your final grade in the class will be <it> exactly </it> the same as if there had been no contest in the first place. 
							</li>
							<li>
								Chris' office hours this week on Thursday are being postponed to Friday from 3 p.m. to 5 p.m.
							</li>
							<li>
								Midterm grades have been released! Take a look at the announcement on the home page for more details.
							</li>
						</ol>	
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					There are three goals for today's class:

					<ol>
						<li> To understand how to use Interactors in our programs </li>
						<li> To delve a little deeper into the mechaniccs of how programs run </li>
						<li> To see an example of how we can use Computer Science as a tool to understand people </li>
					</ol>
					</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<!-- <div class="col-sm-2"><a href="{{pathToRoot}}lectures/18-Collections/18-Collections.key"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Keynote</span></a>
						</div> -->
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/19-Interactors/19-Interactors-full.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Full Slides Pdf</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/19-Interactors/19-Interactors-condensed.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Condensed Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/19-Interactors/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/19-Interactors/19-Interactors.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
