/DrawFlags.class
/PerfectNumbers.class
/PrimeNumbers.class
/WeightOnMoon.class
/DrawFlagsSoln.class
/Example.class
/IsSquare.class
/Trace.class
/CheckerboardSoln.class
/IllusionStart.class
/IllusionSoln.class
/IllusionPractice.class
/DrawForest.class
/DrawOakForest.class
