<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Lecture 12: Text Processing
					</h1>
					<p class="subtleHeading">
						April 27th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
						
								<b>Alt midterm?</b> If you have an academic conflict with the midterm send us an email by Monday.
							
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					The goal of today's class is for you to be able to write string algorithms that loop over each character.
				</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/12-TextProcessing/12-TextProcessing.pptx"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Slides Ppt</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/12-TextProcessing/12-TextProcessing.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/12-TextProcessing/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/12-TextProcessing/Lecture12.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
					<!--<br/>
					<h3>Extra Practice </h3>
					<p>
						<div class="well">
						If you would like some extra practice, try out these problems:<br/><br/>
						<ul>
				                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/ComputeSumOfDigits">ComputeSumOfDigits</a></li>
				                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/RangeOfNumbers">RangeOfNumbers</a></li>
				                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/SentinelSum">SentinelSum</a></li>
				        </ul>
					</div>
					</p>-->
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
