<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Lecture 15: Lists
					</h1>
					<p class="subtleHeading">
						May 4th, 2018
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">
				<h3>Class Announcements</h3>
				<p>
					<div class="well">
								<b>Midterm next Monday</b>. See course homepage for details.
							
					</div>
				</p>
				<br/>
				<h3>Learning Goals </h3>
				<p>
					<div class="well">
					The goal of today's class is for you to be able to write programs that can create and use ArrayLists.
				</div>
				</p>
				<br/>
				<h3>Lecture Materials </h3>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/15-Lists/15-Lists.pptx"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:4px">Slides Ppt</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}lectures/15-Lists/15-Lists.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:3px">Slides Pdf</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/15-Lists/src"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:2px"></span><br>
					Lecture Code</a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}lectures/15-Lists/Lecture15.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Eclipse Project</a>
						</div>
						
						
					</div>
					<br/>
					<h3>Extra Practice </h3>
					<p>
						<div class="well">
						If you would like some extra practice, try out these problems:<br/><br/>
						<ul>
        <li><a href="http://www.codestepbystep.com/problem/view/java/collections/arraylist/mystery1">mystery1</a></li>
        <li><a href="http://www.codestepbystep.com/problem/view/java/collections/arraylist/switchPairs">switchPairs</a></li>
        <li><a href="http://www.codestepbystep.com/problem/view/java/collections/arraylist/removeRange">removeRange</a></li>
</ul>
					</div>
					</p>
				</p>
			</div>
		</div>


		


	

		%include templates/parts/footer.html

	</div>

</body>
