<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Midterm Info
					</h1>
					<p class="subtleHeading">
						The CS106A Midterm is Monday May 7th from 7pm to 9pm.
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">

				

				<h2>Download Your Midterm</h2>

				<p style="margin-top:20px">
					<div class="alert alert-success"><b>Download your encrypted midterm:</b> The encrypted midterms are ready to download! (If the links are not live for your exam, check back soon). You should download the exam in advance of arriving at your exam location as well as the <a href="#bluebook">BlueBook</a> software. <b>Warning:</b> Make sure to download the correct exam - otherwise the password you are given in your exam room won't match (sad times).</div>
				</p>

				<p>
					<table class="table">
					<tr>
						<th>Exam Type</th>
						<th>Download Links</th>
					</tr>
					  <tr>
					  	<td>Regular Seating Mon. 7-9PM</td>
					  	<td>
					  		<a 
					  		href="{{pathToRoot}}exams/midterm/midterm-spr18.json" 
					  		download="midterm-spr18.json"><span class="glyphicon glyphicon glyphicon-download" aria-hidden="true"></span> Regular Exam</a> 
					  		
					  	</td>
					  </tr>
					  <tr>
					  	<td>Alternate or OAE 2 hour exam</td>
					  	<td>
					  		<a 
					  		href="{{pathToRoot}}exams/midterm/midterm-alt-spr18.json" 
					  		download="midterm-alt-spr18.json"><span class="glyphicon glyphicon glyphicon-download" aria-hidden="true"></span> Alternate Exam</a>
					  	</td>
					  </tr>
					  <tr>
					  	<td>OAE 150% extra time</td>
					  	<td>
					  		<a 
					  		href="{{pathToRoot}}exams/midterm/midterm-extraTime-spr18.json" 
					  		download="midterm-extraTime-spr18.json"><span class="glyphicon glyphicon glyphicon-download" aria-hidden="true"></span> OAE Exam</a>
					  	</td>
					  </tr>
					</table>

					<hr/>
				</p>

				<p style="margin-top:20px">
					<div class="alert alert-success"><b>Test your exam:</b> Open BlueBook and load your exam before the midterm on Monday.</div>
				</p>

				<hr/>


				<h2>Location</h2>
				<div class="row">
					
					<div class="col-xs-6 col-sm-6">


						<div class="well">
						    <b>Last Name: A through M</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>320-105
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.432285029254!2d-122.17411903471893!3d37.426891489870776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbad57fa81bbb%3A0x626403c477443d84!2sBuilding+320!5e0!3m2!1sen!2sus!4v1525291306561" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						    </div>
						</div>		
					</div>

					
					<div class="col-xs-6 col-sm-6">

						<div class="well">
						    <b>Last Name: N through Z</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>370-370
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.9715194882704!2d-122.17177693944006!3d37.42797345588047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2a623154b1%3A0xe8a56d8202bcd72a!2sBldg+370!5e0!3m2!1sen!2sus!4v1525291233270" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						    </div>
						</div>		
					</div>
				</div>
				<div class="row" id="bluebook">
					<div class="col-sm-12">
						<hr/>

						<h2>Download BlueBook</h2>
						<p> 
							The exam is administered on a digital tool called <i>BlueBook</i>. Please make sure to download and install BlueBook on your laptop <b>before the exam</b>. 
						</p>
						<ul>
				          <li>Mac download: <a href="{{pathToRoot}}exams/Mac-BlueBook-1.0.0.dmg">Mac</a></li>
				          <li>PC download: <a href="{{pathToRoot}}exams/Bluebook_1.0.0_Windows.exe">PC</a></li>
				          <li>Linux download: <a href="{{pathToRoot}}exams/Linux-BlueBook-1.0.0-x86_64.AppImage">Linux</a></li>
				      </ul> 
				      <p style="margin-top:20px">
						<div class="alert alert-success">Note: If you're using a Mac and you get an error saying that the Disk Image is from an unidentified developer, don't panic! Simply open up the <code> Mac-BlueBook-1.0.0.dmg </code> file in your finder, and right click it and select 'open'. The same window will pop up, but this time you'll have a chance to open it anyway. On Windows, If you get a message that says, "Windows protected your PC," you can click on "More info" and then "Run anyway".</div>
					  </p>

					  <p> A practice exam that can be run on BlueBook can be downloaded below. This exam will be run under timed conditions, and give you an idea of what to expect for the actual exam. </p>

					  <p> Should you run into any technical issues, shoot Brahm an email at  <a href="mailto:brahm@stanford.edu"> brahm@stanford.edu </a>.
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr/>

						<h2>What to bring</h2>
						<p> The exam is on your computer. You should bring:
							<ul>
								<li>Your laptop and charger</li>
								<li>The device you use for two-step authentication</li>
								<li>Paper notes (it's open book)</li>
								<li>A power strip/extension cord (optional, but recommended if you have access to one)</li>

							</ul>
					</div>
					
				</div>

				<p>
					If you don't have a working laptop let us know AS SOON AS POSSIBLE and we will get you set up with one.
				</p>

				

				<hr/>

				<!--<h2>Practice Midterm</h2>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/macPractice.zip""><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:20px">Mac</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/windowsPractice.zip"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:25px">PC</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/linuxPractice.AppImage"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:15px">Linux</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}handouts/13 - Practice Midterm Solutions.pdf"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<span style="margin-left:5px">Solutions</span></a>
						</div>

						
						
					</div>
					<br/>
				</p>
				<div class="well">
				    <p>
				      On a Windows PC, download the .zip file and completely extract it into another folder. Then open the BlueBook program by double-clicking. If you get a Windows message that says, "Windows protected your PC," click on "More info" and then "Run anyway" (We're working on resolving this!).
				    </p>
				    <p>
				      On a mac, after downloading, select the app and right or control-click. Click on Open. Click on Open again to confirm you want to complete the action.
				    </p>
				    <p>
				      The password for the exam is <code> funkyPenguin</code>. Practice exam submission <b> will not work </b>, but a tool to view your exam answers - as well as solutions - will be released this weekend. If you run into any issues, please email <a href="mailto:brahm@stanford.edu"> Brahm </a> and <a href="mailto:piech@stanford.edu"> Chris </a>.
				    </p>

				    <b> UPDATE </b>

				    <p>
				      In order to view your practice midterm answers, download the appropriate exam viewer below: upon opening the application, you should be able to view your answers immediately. 
				      <ul>
				          <li>Mac download: <a href="{{pathToRoot}}exams/AnswerViewerMac.zip">Mac</a></li>
				          <li>PC download: <a href="{{pathToRoot}}exams/AnswerViewerWindows.zip">PC</a></li>
				          <li>Linux download: <a href="{{pathToRoot}}exams/AnswerViewerLinux.AppImage">Linux</a></li>
				      </ul> 
				    </p>

				    <p>
				        Should you run into any issues, please email <a href="mailto:brahm@stanford.edu"> Brahm </a>. Note that this exam viewer will work <b> only </b> for this Practice Midterm, and not future exams. 
				    </p>
				   </div>
				<hr/>-->

				<h2>Review Session</h2>
				<p>There will be a midterm review session this Thursday at 7:30 pm in Hewlett 201. Hope to see you there!</p>
				<!--<p>
					The video is available via the link below, which takes you to the same Canvas page where YEAH hours videos are available.
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/MidtermReviewSession.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">Slides</span></a>
						</div>
						<div class="col-sm-2"><a href="https://canvas.stanford.edu/"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:0px">Video</span></a>
						</div>
					</div>
					<br/>
				</p>-->
				
				<hr />

				<h2>Resources</h2>
				<p>

					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/Practice Midterm 1.pdf" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">First Practice Exam</span></a>
						</div>

						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/10-practice-midterm-solutions.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">First Exam Solutions</span></a>
						</div>

						<div class="col-sm-2"><a href="{{pathToRoot}}exams/practiceMidterm.json" download="practiceMidterm.json"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">Second Practice Exam (BlueBook version, password is <code>infinitySkirmish</code>).</span></a>
						</div>

						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/Practice Midterm 2 Solutions.zip"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">Second Exam Solutions</span></a>
						</div>

						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/9 - Exam Strategies.pdf" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:0px">Exam Strategies</span></a>
						</div>
						
						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/MidtermReviewSession.pdf" download><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:0px">Review Session Slides</span></a>
						</div>
						
					</div>
					<!--<br/><p> <b> Note: </b> To download BlueBook exam files, right-click on the filename and choose 'save linked file as' or a similar option.</p>
					<br/>-->
				</p>
			
			</div>
		</div>

		


	

		%include templates/parts/footer.html

	</div>

</body>
